# Core functionality - changes here should be rare!
/src/app.py                   @OmriMeroz
/src/backend/database.py      @OmriMeroz
/src/backend/routers/auth.py  @OmriMeroz

# The frontend will need refactored soon to be more object oriented.
/src/static/   @OmriMeroz
